<!DOCTYPE html>
<html lang="en"></html>
<html>   
    <head>
        <title>Assignment 4 FishCatcher</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        
    </head>
    <body>
        <div class="center">
            <table>
                <td id="td1">
                        <h1 class="purples">FishCatcher</h1>
                </td>
                <td id="td2">
                    <div class="box">
                        <span id="scoreButton" onclick="resetScore()">Reset Score</span>
                        <i></i>
                    </div>
                </td>
                <td>
                    <div class="box">
                        <span id="speedButton" onclick="resetSpeed()">Reset Speed</span>
                        <i></i>
                    </div>
                </td>
            </table>
        </div>
        <div id = "score"></div>
        <div id="Canvas"></div>
        <script src="javascripts/script.js" ></script>
    </body>
    <footer>
    <p>&copy; 2023 King Yin Pang 301268737. All rights reserved.</p>
</footer>
</html>